body {
	margin: 0px
}
a{
	text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;

}

/* Track */
::-webkit-scrollbar-track {
  background: MediumTurquoise; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: SteelBlue; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: MidnightBlue; 
}

.navbar {
	display:flex;
	background-color: SteelBlue;
	justify-content: center;
	align-items:center;
	height: 40px;
	width: 100%;
	gap: 10px;
	position:fixed;
	top:0;
	z-index: 3;
	box-shadow: 0px 4px 6px 0px rgba(196,189,189,0.75);
	
}
.navbar a{
	color: white;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	transition-duration: 0.4s;
	padding: 8px;
	justify-content: center;
	align-items:center;
	
}
.navbar a:hover{
	box-shadow: inset 0px -2px 0px PaleTurquoise;
	background-color: DarkTurquoise;
}
.navbar ion-icon.bulbnav{
	transition-duration: 0.3s;
}
.navbar a:hover ion-icon.bulbnav{
	color:gold;
}
.navbar ion-icon{
	font-size: 22px;
	margin-bottom: -4px;
	color: white;
	margin-right: 4px;
}

.container {
	margin-top: 40px;
	display:flex;
	flex-direction:row;
	width: 100%;
	justify-content: space-around;
}

.direita{
	display: flex;
	flex: 18%;
	justify-content: center;
	
}
.quadrado {
	display:flex;
	background-color: PaleTurquoise;
	height:80px;
	width: 80px;
	position: fixed;
	bottom: 30;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	transition-duration: 0.3s;
	z-index:3;
}
.quadrado:hover {
	transform: scale(1.1);
}

.quadrado ion-icon{
	font-size: 40px;
	color: navy;
}

.navEsquerda {
	display: flex;
	flex: 20%;
	align-items: center;
	flex-direction: column;
}
.navEsquerda p{
	display:flex;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.sumario {
	display: flex;
	width: 100%;
	background-color: PaleTurquoise;
	align-items: center;
	flex-direction: column;
	height: 100%;
	overflow: scroll;
	gap: 40px;

}

.sumario a{
	display:flex;
	justify-content: left;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	transition-duration: 0.2s;
	color: black;
	padding:0;
}
.sumario a:hover{
	color: navy;
	text-decoration: underline;
}
	

.principal {
	display: flex;
	flex: 80%;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-top: 50px;
}
.principal img{
	width: 600px;
	height: 300px;
	border: 2px solid black;
}
.principal p{
	margin:0px;
	display:flex;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
	font-size: 19px;
	text-align: justify;
	width:70%;
}
.principal a.botao{
	background-color: PaleTurquoise;
	display:flex;
	justify-content: center;
	color: black;
	width: 100px;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	transition-duration: 0.4s;
	padding: 10px;
	width: 150px;
	margin-bottom: 15px;
}

.principal a.botao:hover{
	background-color: MediumTurquoise;
	cursor: pointer;
}
.principal textarea{
	padding: 10px;
	resize: none;
	width: 600px;
	height:160px;
	background: PaleTurquoise;
	color:black;
	font-size: 18px;
}



h1.titulos {
	display:flex;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	margin:0px;
	color:black;
}


.h1container {
	display:flex;
	height:70px;
	background-color: PaleTurquoise;
	width: 100%;
	align-items: center;
	justify-content:center;
}

h1.titulos2 {
	display:flex;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	transition-duration: 0.2s;
	color: black;
	text-align: center;
}

.footer {
	margin-top:100px;
	display:flex;
	background-color: 091010;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	gap: 15px;
	position: absolute;
	z-index:2;
}
.footer p{
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	transition-duration: 0.2s;
	color: white;
	text-align: center;
}
.footer a{
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	transition-duration: 0.2s;
	color: lightcyan;
	text-align: center;
	background-color: 1A2E2E;
	padding: 3px 5px;
	border-radius: 5px;
}
.footer a:hover{
	cursor:pointer;
	background-color:lightcyan;
	color:black;
}
.footer ion-icon{
	font-size: 40px;
	align-items: center;
}

.alerta {
	display: inline-block;
	position: relative;
}

.alerta .alertatexto {
	visibility: hidden;
    width: 140px;
    background-color: Grey;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 3;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.alerta .alertatexto::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;

	
}
.alerta:hover .alertatexto {
  visibility: visible;
  opacity: 1;
}

.exemplo1 {
	padding: 10px;
	background: PaleTurquoise;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:row;
	flex-wrap: nowrap;
	gap: 15px;
	border-radius: 15px;
	
}

.exemplo1 ion-icon{
	font-size: 40px;
}

.containerExemplos1 {
	display:flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:auto;
	padding: 10px;
}

.container1 {
	background-color: lightcyan;
	padding:35px;
	display:flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.container2 {
	background-color: lightcyan;
	padding:35px;
	display:flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction:column;
	border: 1px solid black;
	border-radius: 5px;

}

.container2 ion-icon{
	font-size: 40px;
	color: black;
}

.container3 {
	background-color: rgb(127, 162, 211);
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction:column;
	border-radius: 5px;
	border: 1px solid black;

}

.contverde {
	background-color: rgb(134, 236, 186);
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	flex-direction:row;
	border-left: 5px solid limegreen;
	border-radius: 5px;
	width: 400px;
	

}

.contverde p{
	display: flex;
	justify-content: flex-start;
	text-align: justify;

}
.contverde .material-icons{
	color: green;
	
}

.contred {
	background-color: rgb(228, 157, 157);
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 400px;
	flex-direction:row;
	border-left: 5px solid red;
	border-radius: 5px;

}
.contred p{
	display: flex;
	justify-content: flex-start;
	text-align: justify;


}
.contred .material-icons{
	color: rgb(198, 3, 3);
	
}

.contdica {
	background-color: lightcyan;
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 400px;
	flex-direction:row;
	border-radius: 5px;
	border-left: 5px solid rgb(233, 198, 1);

}
.contdica p{
	display: flex;
	justify-content: flex-start;
	text-align: justify;


}
.contdica .material-icons{
	color: black;

	
}



::selection{
	color: lightcyan;
	background-color: steelblue;
}
	
	











